.pagination {
    display: flex;
    padding: 0;
}

.pagination-item {
    margin: 0 2px;
    cursor: pointer;
    padding: 2px 10px;
    display: flex;
    align-items: center;
}

.pagination-item.active {
    font-weight: bold;
    border-radius: 3px;
    color: white;
    background-color: #003554;
}
