.inputField {
    display: flex;
    align-items: start;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    background: #FFFFFF;
    border: 1px solid rgba(147, 128, 108, 0.25);
    border-radius: 6px;
    padding: 8px;
}

.inputField input:focus,
input.InputAddOn-field:focus {
    background: #FFFFFF;
    border: none;
    outline: none;
}

.inputField:focus-within {
    border: 0.5px solid #0094DA;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    border: 0;
    width: 100%;
}

span.InputAddOn-item {
    padding: 0px 4px;
}

.InputAddOn-item {
    color: #666666;
    font: inherit;
    font-weight: normal;
}