label.button,
button {
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
    font-weight: 600;
}

label.button {
    font-size: 15px;
}

label.borderLess,
.button-borderLess {
    border: 0;
    outline: 0;
    background: transparent;
    color: #1ea7fd;
}

label.button-borderLess:hover,
.button-borderLess:hover {
    background: #ddd6d6
}

label.button-contained,
.button-contained {
    background-color: #1ea7fd;
    color: white;
    border: 0;
}

label.button-contained:hover,
.button-contained:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: #9E9E9E;
}

label.button-outline,
.button-outline {
    border: 0.4px solid #1ea7fd;
    background-color: transparent;
    color: #1ea7fd
}

label.button-outline:hover,
.button-outline:hover {
    background-color: #1ea7fd;
    color: white;
}