.textField {
  padding: 15px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1.8px solid #6b6b6b;
  border-radius: 18px;
}

.textField:focus {
  border: 0.5px solid #0094DA;
  outline: none;
}