textarea.textAreaInput {
  background: transparent;
  border: 1px solid rgba(147, 128, 108, 0.25);
  border-radius: 6px;
  padding: 8px;
  outline: none;
}

textarea.textAreaInput:focus {
  border: 0.5px solid #0094DA;
  outline: none;
}

textarea.error.textAreaInput {
  border: 0.5px solid red;
  outline: none;
}