.dropdown-container {
    text-align: left;
    /* border: 1px solid #ccc; */
    /* position: relative; */
    color: #858585;
    background: #f0f0f0;
    border-radius: 5px;
}

.dropdown-input {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    background: #F0F0F0;
    border: 0.5px solid #858585;
    border-radius: 4px;
}

.dropdown-menu {
    position: absolute;
    transform: translateY(94px);
    border: 1px solid #ccc;
    border-radius: 4px 4px 12px 12px;
    overflow: auto;
    max-height: 150px;
    left: 15px;
    background-color: #fff;
    right: 15px;
}

.dropdown-item {
    padding: 12px;
    cursor: pointer;
}

.dropdown-item.selected {
    background-color: #f5f5f5;
    color: #0788dd;
}

.dropdown-selected-value {
    position: absolute;
    margin-left: 15px;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
    color: #0788dd;
}

.dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.dropdown-tools {
    right: 25px;
    position: absolute;
}

.dropdown-tag-item {
    background-color: #ddd;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.dropdown-tag-close {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-box {
    padding: 4px;
    background-color: #eee;
}

.search-box input {
    /* width: 100%; */
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}