.alert {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

span.AlertSpan {
    align-self: center;
}

.alert-success {
    border: 2px solid #78d178;
    background-color: #d1ffcd;
}

.alert-failure {
    border: 2px solid #d17878;
    background-color: rgb(255, 205, 205);
}

.alert-warning {
    border: 2px solid #ecdd68;
    background-color: #faf4c7;
}

.closeIcon {
    cursor: pointer;
}