.DrawerContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: #d8d5d5;
  color: #f1f1f1;
  width: 257px;
  height: 100vh;
}

.DrawerContainer-left {
  left: 0;
  top: 0;
}

.DrawerContainer-right {
  right: 0;
  top: 0;
}