.DrawerContainer {
  position: absolute;
  z-index: 200;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: #e0f5ff;
  color: #6c747e;
  width: 257px;
  height: 100vh;
  overflow-y: auto;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
    transition: margin 300ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
}

.DrawerContainer-left {
  left: 0;
  top: auto;
  animation: slide-in-left 0.3s ease-in-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
    transition: margin 300ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
}

.DrawerContainer-right {
  right: 0;
  top: auto;
  animation: slide-in-right 0.3s ease-in-out forwards;
}