.DrawerContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: #E9EAEC;
  width: 257px;
  height: 100vh;
  font-family: 'Roboto';
}

.DrawerContainer-left {
  left: 0;
  top: 0;
}

.DrawerContainer-right {
  right: 0;
  top: 0;
}