.NavBarContainer-top,
.NavBarContainer-bottom {
  position: absolute;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #d8d5d5;
  color: #f1f1f1;
}

.NavBarContainer-top {
  top: 0
}

.NavBarContainer-bottom {
  bottom: 0;
}