.NavBarContainer-top {
  z-index: 1200;
  padding: 8px 0px;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  background: #e0f5ff;
  color: #6c747e;
  transition: all 0.5s;
}