.NavBarContainer-top,
.NavBarContainer-bottom {
  position: absolute;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #E9EAEC;
  font-family: 'Roboto';
}

.NavBarContainer-top {
  top: 0
}

.NavBarContainer-bottom {
  bottom: 0;
}