.sidebar {
    background: #eeeeee;
    color: black;
    width: 200px;
    font-size: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: 'start';
}

.SidebarItem {
    cursor: pointer;
    padding: 10px 14px 10px 14px;
}

.active {
    background-color: #1ea7fd;
    color: #eeeeee;
}

.SidebarItem:hover,
.sidebarSubItems:hover {
    background-color: #6cc4fc;
}

.sidebarSubItems {
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding: 10px 14px 10px 14px;
}
