.SideBarContainer-left,
.SideBarContainer-right {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: #E9EAEC;
    width: 257px;
    height: 100vh;
    font-family: 'Roboto';
}

.SideBarContainer-left {
    left: 0;
    top: 0;
}

.SideBarContainer-right {
    right: 0;
    top: 0;
}