.SideBarContainer {
    display: flex;
    font-weight: 400;
    font-size: 16px;
}

.SideBarContainer.right {
    position: absolute;
    top: 0;
    right: 0;
}

.slimSidebarItem {
    text-align: center;
    display: flex;
    padding: 4px 0px;
    place-content: center;
}

.SidebarItem {
    display: flex;
    place-content: start;
    color: #6C757D;
    gap: 15px;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s;
}

.slimSideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 89px;
    height: 100vh;
    background-color: #cdefff;
    overflow-y: auto;
}

.sidebar {
    /* position: fixed; */
    color: black;
    width: 217px;
    font-size: 18px;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: 'start';
    overflow-y: auto;
    background-color: #cdefff;
    transition: all 0.8s;
}

.slim_top_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 10px 15px 15px;
    margin: 25px 0px;
    background: url('../../assets/techno.svg')no-repeat center 20px / 50%;
}

.top_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 0%;
    background: url('../../assets/techno.svg')no-repeat 45% center / 30%;
    margin: 15px 0px;
}

.linkArea {
    display: grid;
    font-family: 'Roboto';
    font-style: normal;
    justify-content: center;
}

a {
    text-decoration: none;
}

a.active {
    background-color: transparent;
}

a.active:hover {
    color: #d0e8e8;
}

.SidebarItem:hover,
.sidebarSubItems:hover {
    border-radius: 8px;
    color: #6C757D;
}

.sidebarSubItems {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    border: none;
    outline: none;
    padding: 10px 14px 10px 14px;
}

.dropDownIcon {
    display: inline-flex;
    padding-left: 8px;
    vertical-align: middle;
    transition: all 0.5s;
    width: 12px;
}

.bars {
    display: grid;
    font-size: 25px;
    justify-content: flex-end;
    padding: 0px 10px;
    align-self: center;
}

.dropDownIcon.rotateNintee {
    transform: rotateNintee(90deg);
    transform: rotate(90deg) translateX(1px);
}

.rotate {
    transform: rotate (180deg)
}

.link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
}

.icon,
.link_text {
    font-size: 20px;
}

.footer_section {
    padding-bottom: 50px;
    display: flex;
    align-self: center;
    cursor: pointer;
}