.table-container {
    border: 1px solid #dddddd;
    overflow: hidden;
    border-radius: 8px;
}

table.mainTable {
    border: 0px;
    outline: 0;
    border-collapse: collapse;
    width: 100%;
}

table {
    border-radius: 15px;
}