.tooltipMainDiv {
    position: relative;
    display: inline-block;
}

.textContainer {
    visibility: visible;
    min-width: 30px;
    background-color: rgb(49, 49, 49);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0.8;
}